*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: dotted;
    list-style: none;
    font-family: 'poppins', sans serif;
    
}
.logo{
    width: 80px;
    cursor: pointer;
    height: 80px;
    padding: 0 40px;
    
    
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    background: rgba(11, 91, 52, 0.737);
    overflow: hidden;
    top: 10;
    position: relative;
    font-size: 1.1em;

}
label.text{
    color: white;
    font-size: 35px;
    line-height: 70px;
    padding: 0 100px;
}
.container{
      width: 100%;
      min-height: 100vh;
}
body{
    background-repeat: no--repeat;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
     
}
header{
    width: 100%;
   
   
    position: fixed;
    transition: 0.6s;
    
}
ul{
    color: white;
    font-family: Merriweather;
    font-size: 5px;
    float: right;
    margin-right: 10px;
}
ul li{
    display: inline-block;
    line-height: 30px;
    margin: 0 45px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;   
}
ul li a{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    margin-left: -40px;
    margin-right: 10px;
} 

ul li a::after {
    content: '';
    position: absolute;
    width: 7.5%;
    height: 3px;
    background: white;
    border-radius: 7px;
    bottom: 25px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
    margin-left: -90px;
    
}
ul li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
} 
button.btnLogin-popup{
    width: 150px;
    height: 50px;
    background: transparent;
    border: 3px solid white;
    outline: none;
    cursor: pointer;
    font-size:20px;
    border-radius: 20px;
    font-weight: 520;
    color: antiquewhite;
    margin-left: -450px;
    margin-right: 10px;
    transition: 0.35s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
button:hover {
    background: white;
    color: black;
}
div.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    align-self: center;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.5s ease, height .2s ease;
    transform: scale(0);
}
div.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}
.wrapper .icon-close{
    position: absolute;
    background: #162938;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
div.wrapper .form-box {
    padding: 40px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: noone;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);
    transition: none;
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
          
}
div.wrapper .form-box h2{
    text-align: center;
    color: black;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.wrapper .form-box .input-box{
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid black;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    left: 5px;
    top: 50%;
    color: rgb(10, 1, 1);
    pointer-events: none;
    font-weight: 500;
    transform: translateY(-50%);
    transition: 0.5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    color: #00060a;
    font-size: 16px;
    font-weight: 600;
    padding: 0 35px 0 5px;
    border: none;
    outline: none;
    background: transparent;    
}
.input-box .icon{
    position: absolute;
    font-size: 20px;
    color: #162938;
    line-height: 55px;
    right: 8px;
}
button .btn{
    color: black;

}
.remember-forgot{
    font-size: .9em;
    font-weight: 500;
    color: black;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
}
.remember-forgot a{
    color: black;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.btn{
    width: 100%;
    background: #171d21;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    font-weight: 500;
    height: 45px;
    color: white;
    border-radius: 6px;
}
.login-register{
    font-size: 15px;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
    font-weight: 500;
}
.login-register p a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(19, 18, 18);
}
.login-register p a:hover {
    text-decoration: underline;
}
